# Tokens y datos sensibles
data/.tokens
data/*.json

# Variables de entorno (excepto example)
.env.*
!.env.example

# Variables privadas de httpyac / IntelliJ HTTP Client
requests/http-client.private.env.json

# Logs
*.log

# Respuestas guardadas
responses/

# Token temporal generado por httpyac (no commitear)
/.current_token
